.iconoHamburguesa {
  cursor: pointer;
  &_line {
    transition: all .4s;
    stroke: #000000;
  }
}

.iconoHamburguesa:hover {
  .iconoHamburguesa_line {
    stroke:  red;
  }
}

.iconoHamburguesaActive {
  .iconoHamburguesa_line1{
    stroke: red !important;
    d: path("M 4 4 L 22 22");
  }

  .iconoHamburguesa_line2{
    stroke: red !important;
    d: path("M 4 22 L 22 4");
  }

  .iconoHamburguesa_line3{
    opacity: 0;
    stroke: red !important;
  }
}