.Home {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  position: relative;

  main {
    width: 100%;
  }

  aside {
    display: none;
    transition: all .4s;
  }
}

@media only screen and (min-width: 600px) {
  .Home {
    aside {
      width: 400px;
      display: block;
    }
  }
}